ti_cliente/ti_cliente/.vs
servidor/__pycache__
ti_cliente_v2/ti_cliente/.vs
ordenes_ejecutadas.txt
ordenes_solicitadas.txt
log_trabajo.csv
aprendizaje.txt
__pycache__/
*.pyc
ti_cliente_v2/ti_cliente/x64/Debug/
ti_cliente_v2/ti_cliente/x64/Release/
ti_cliente_v2/XMLRPC++/x64/