servidor/__pycache__
ti_cliente_v2/ti_cliente/.vs
ordenes_ejecutadas.txt
ordenes_solicitadas.txt
log_trabajo.csv
aprendizaje.txt
__pycache__/
servidor_tests_pachi/servidor/__pycache__
com/
ti_cliente_v2/json/json-develop/json/tests
ti_cliente/
cliente_files/
